python-dotenv
fastapi
uvicorn[standard]
pydantic-settings
pydantic[email]
alembic
SQLAlchemy
python-multipart
python-jose
passlib
openai
google-cloud-storage
numpy
opencv-python-headless
psycopg2-binary # for local dev