---
//Imports a layout component and displays a 404 message within it
import Layout from "@/layouts/Layout.astro";
---


<Layout title="Genvidea">
    <main class="w-screen h-screen grid place-items-center">
        Oops! Page not found.
    </main>
</Layout>