---
import Layout from "@/layouts/Layout.astro";
---
{/*This Astro component displays a centered "404 - Page Not Found" message using the 'Layout' component for consistent styling across the site.*/}

<Layout title="Genvidea">
    <main class="w-screen h-screen grid place-items-center">
        Oops! Page not found.
    </main>
</Layout>