---
import Layout from "../layouts/Layout.astro";
import PublicMediaGrid from "@/components/PublicMediaGrid.tsx";
import UserProfileHeader from "@/components/UserProfileHeader.tsx";
import Header from "../components/Header.tsx";

export const prerender = false;
if (Astro.cookies.has("access_token") === false) {
  return Astro.redirect("/");
}
---
{/*This Astro component checks for a valid "access_token" and redirects to the home page if not found. It uses the 'Layout' and 'Header' components for consistent site styling and layout, and dynamically loads the 'PublicMediaGrid' and 'UserProfileHeader' on the client side.*/}

<Layout title="Genvidea">
  <Header isLoggedIn={true} client:load />
  <main class="w-screen flex flex-col justify-center pt-12 px-12 md:px-64">
    <PublicMediaGrid client:load />
  </main>
</Layout>

