---
import Layout from "@/layouts/Layout.astro";
import Dashboard from "@/components/Dashboard.tsx";
---

<Layout title="Genvidea">
    <main class="w-screen h-screen grid place-items-center">
        <Dashboard client:load />
    </main>
</Layout>
