---
import Layout from "@/layouts/Layout.astro";
import DashboardComponent from "@/components/Dashboard.tsx";
import Header from "@/components/Header";

export const prerender = false
if (Astro.cookies.has("access_token") === false) {
    return Astro.redirect("/");
}
---

<Layout title="Genvidea">
    <Header isLoggedIn={true} client:load/>
    <main class="w-screen h-screen grid place-items-center">
        <DashboardComponent client:load />
    </main>
</Layout>
