---
import Layout from "@/layouts/Layout.astro";
import HeroParallax from "@/components/ui/hero-parallax.tsx";
import Header from "@/components/Header";

const names = [
    "aladdin.png",
    "beech-dancer.png",
    "elven-queen.png",
    "golden-oasis.png",
    "icy-blue.png",
    "star-wars.png",
    "astronaut.png",
    "futuristic-lab.png",
    "handsome-musketeer.png",
    "moana-disney.png",
    "techno-fantasy.png",
];

const prods = names.map(name => ({
    title: name,
    link: "#",
    thumbnail: `https://storage.googleapis.com/static-web-pages/library/${name}`
}))
---

<Layout title="Genvidea">
    <Header isLoggedIn={false} client:load />

    <main class="flex flex-col gap-8">
        <HeroParallax client:load products={prods} />
    </main>
</Layout>
