---
//Layout with dynamic content based on authentication, featuring user profile and media gridLayout with dynamic content based on authentication, featuring user profile and media grid
import Layout from "../layouts/Layout.astro";
import MediaGrid from "@/components/MediaGrid.tsx";
import UserProfileHeader from "@/components/UserProfileHeader.tsx";
import Header from "../components/Header.tsx";

// Dynamic content: disable prerendering and redirect if not authenticated
export const prerender = false;
if (Astro.cookies.has("access_token") === false) {
  return Astro.redirect("/");
}
---

<Layout title="Genvidea">
  <Header isLoggedIn={true} client:load />
  <main class="w-screen flex flex-col justify-center pt-12 px-12 md:px-64">
    <UserProfileHeader client:load />
    <MediaGrid client:load />
  </main>
</Layout>
