---
import Layout from "@/layouts/Layout.astro";
import Header from "@/components/Header";
import UserSettings from "@/components/UserSettings";

export const prerender = false;
if (Astro.cookies.has("access_token") === false) {
  return Astro.redirect("/");
}
---

<Layout title="Settings - GenVidea">
  <Header isLoggedIn={true} client:load />
  <main class="grid place-items-center mt-24">
    <UserSettings client:load />
  </main>
</Layout>
