---
import Layout from "@/layouts/Layout.astro";
import UserSettings from "../components/UserSettings.tsx";

export const prerender = false;
if (Astro.cookies.has("access_token") === false) {
  return Astro.redirect("/");
}
---

<Layout title="Upload - GenVidea">
  <main class="w-screen h-screen grid place-items-center">
    <div class="bg-gray-100 flex items-center justify-center p-4">
      <UserSettings client:load/>
    </div>
  </main>
</Layout>
