---
import Layout from "@/layouts/Layout.astro";
import SignupSection from "@/components/Signup.tsx";
import Header from "@/components/Header.tsx";

export const prerender = false;
if (Astro.cookies.has("access_token") === true) {
  return Astro.redirect("/dashboard");
}
---

<Layout title="Genvidea">
    <main class="w-screen h-screen grid place-items-center">
        <Header isLoggedIn={false} showHomeButton={true} client:load />
        <SignupSection client:load />
    </main>
</Layout>