---
import Layout from "@/layouts/Layout.astro";
import SignupSection from "@/components/Signup.tsx";
---


<Layout title="Genvidea">
    <main>
        <SignupSection client:load />
    </main>
</Layout>