---
import Layout from "@/layouts/Layout.astro";
import SignupSection from "@/components/Signup.tsx";
---


<Layout title="Genvidea">
    <main class="w-screen h-screen grid place-items-center">
        <SignupSection client:load />
    </main>
</Layout>