---
import Layout from "@/layouts/Layout.astro";
import SigninSection from "@/components/Signin.tsx";
import Header from "@/components/Header";

export const prerender = false;
if (Astro.cookies.has("access_token") === true) {
  return Astro.redirect("/profile");
}
---

<Layout title="Genvidea">
    <main class="w-screen h-screen grid place-items-center">
        <Header isLoggedIn={false} showHomeButton={true} client:load/>
        <SigninSection client:load />
    </main>
</Layout>