---
import Layout from '../layouts/Layout.astro';
import GeminiEffect from '@/components/GeminiEffect';
---

<Layout title="Genvidea">
	<main class="bg-slate-700 p-4">
		<div>
			<GeminiEffect client:only />
		</div>
	</main>
</Layout>