---
import Layout from '../layouts/Layout.astro';
import GeminiEffect from '@/components/GeminiEffect';
---
{/* Sets up a layout with a 'GeminiEffect' component that only loads on the client side, wrapped in a main section styled with a slate background and padding. */}

<Layout title="Genvidea">
	<main class="bg-slate-700 p-4">
		<div>
			<GeminiEffect client:only />
		</div>
	</main>
</Layout>